.container {
    background-color: #a54e76;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6rem;
    max-width: 900px;
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        height: 100%;
        color: white;
        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }
}

.active {
    background-color: #f0a3b4;
    color: #a54e76;
}

.inactive {
    background-color: #a54e76;
}